body {
  background-color: rgba(255, 127, 80, 0.685);
  font-family: 'Courier New', Courier, monospace;
}

.App {
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 500;
}

.description{
  font-size: x-large;
}

.profile_pic {
  max-width: 250px;
  image-rendering: optimizeQuality;
  border-radius: 125px;
  border-style: double;
  border-width: 5px;
  border-color: indianred;
}

.linkedin {
  max-width: 50px;
}

.button1 {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.button1:hover {
  opacity: 0.4;
}

.github {
  max-width: 50px;
}

.button2 {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.button2:hover {
  opacity: 0.4;
}

.mail {
  max-width: 50px;
}

.button3 {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.button3:hover {
  opacity: 0.4;
}

.cv {
  max-width: 50px;
}

.button4 {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.button4:hover {
  opacity: 0.4;
}